*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: 0.5s ease;
}
a:hover {
    color: aliceblue;

}

body{
    background: linear-gradient(to top, grey, rgb(7, 88, 5));
}
header{
    display: flex;
    justify-content: space-between;
    padding-inline: 10%;
    padding-block: 5px;
}

header .icon{
    font-size: 24px;
    

}
main section{
    padding-inline: 5%;
}
section.hero{
    display: flex;
    padding-block: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img{
    border-radius: 20px;
}

section.hero .info{
    width: 500px;
}
.info h1{
    margin-top: 20px;
    font-size: 3rem;
}
.info p{
    margin-block: 10px;
    font-size: 1.2rem;
}
.goal{
    padding-block: 50px;
    text-align: center;

}
.goal h1{
    font-size: 2.5rem;
}
.goal ul li{
    margin-block: 10px;
    list-style: none;
    font-size: 1.2rem;
}
footer{
text-align: center;
}
footer div{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

